In [1]:
# Import SQLAlchemy `automap` and other dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

In [2]:
# Create the connection engine
engine = create_engine("sqlite:///database.sqlite")

In [3]:
# Create the inspector and connect it to the engine
inspector = inspect(engine)

In [4]:
# Collect the names of tables within the database
inspector.get_table_names()

['Salaries']

In [6]:
# Using the inspector to print the column names within the 'dow' table and its types
columns = inspector.get_columns('Salaries')
print(type(columns))
print(columns[0])

<class 'list'>
{'name': 'Id', 'type': INTEGER(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 1}

In [7]:
for col in columns:
    print(col["name"], col["type"])

Id INTEGER
EmployeeName TEXT
JobTitle TEXT
BasePay NUMERIC
OvertimePay NUMERIC
OtherPay NUMERIC
Benefits NUMERIC
TotalPay NUMERIC
TotalPayBenefits NUMERIC
Year INTEGER
Notes TEXT
Agency TEXT
Status TEXT

In [8]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

In [11]:
# Create engine using the `dow.sqlite` database file
engine = create_engine("sqlite:///database.sqlite")
# Declare a Base using `automap_base()`
Base = automap_base()
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)
Base.classes.keys()

['Salaries']

In [17]:
money= Base.classes.Salaries

In [18]:
# Create a session
session = Session(engine)

In [20]:
for row in session.query(money.BasePay).limit(5):
    print(row)

(Decimal('167411.1800000000'),)
(Decimal('155966.0200000000'),)
(Decimal('212739.1300000000'),)
(Decimal('77916.0000000000'),)
(Decimal('134401.6000000000'),)

In [24]:
over50 = session.query(money).filter(money.TotalPay > 50000).count()
print(over50)

102762